<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904922745646-pmudsojm1s33kp4rm021djq0gkh98m35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904922745646-pmudsojm1s33kp4rm021djq0gkh98m35</string>
	<key>API_KEY</key>
	<string>AIzaSyA4I7Ha8NTpzxVuOyU0YiGhL6y-G8zyXT8</string>
	<key>GCM_SENDER_ID</key>
	<string>904922745646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saadmomand.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7f6b7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7f6b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904922745646:ios:940acd35bdb71e68e148bf</string>
</dict>
</plist>